<!DOCTYPE html>
<html lan="gr">
	<head>
		<meta charset="UTF-8">
		<meta name="description" content="Επέλεξε την κατασκήνωση που σου αρέσει και πέρνα το καλοκαίρι σου μαζί μας.">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<title>Campooking</title>
		<link rel="stylesheet" href="css/style.css">
	</head>
	
	<style>
		h2 {text-align: center;}
	</style>
	
	<body>
		<center><img src="images/logo.png" alt="Logo Campooking" style="width:160px;height:100px;"></center>
			
		<div class="topnav">
			<a class="active" href="/home">Αρχική</a>
			<a href="/camps">Κατασκηνώσεις</a>
			<a id = "connect" href="/signup">Εγγραφή</a>
			<a id= "connect" href="/signin">Σύνδεση</a>
		</div>
			
		<div>
			<center><h3>Βρες στην ιστοσελίδα μας την κατασκήνωση που σου αρέσει και πέρασε εγγυημένα υπέροχες διακοπές!</h3>
			<p>Συνδέσου ή κάνε Εγγραφή αν δεν είσαι ήδη εγγεγραμμένος και πραγματοποίησε την κράτησή σου σε ένα από τα κορυφαία camping στην Ελλάδα!</p>

			<img src="images/collage.png" alt="HTML5 Icon" width="100%" height="10%"
				 style="vertical-align:middle;margin:0%"></center>
		</div>

		<hr>
		<footer id="communication" style="background-color:#739734; padding:10px; margin:2px; color:white;">
		<center><p>Φουρτούνη Ελένη 3180196</br>
		Λέσι Άννα 3180095</br>
		Αναστασιάδου Κωνσταντίνα 3180009</p></center></footer>
	</body>
</html>